
@keyframes blur-transition-out {
    from {
        filter: blur(0px);
    }
    to {
        filter: blur(5px);
    }
}

@keyframes blur-transition-in {
    from {
        filter: blur(5px);
    }
    to {
        filter: blur(0px);
    }
}

@keyframes fade-in-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}